<section>

<table>
  <td>
    <footer id="social">
    <a href="https://www.linkedin.com/in/janchristianbernabe"><i class="fab fa-linkedin fa-lg"></i></a>
    <a href="https://www.amazon.com/Jan-Christian-Bernabe/e/B06W541XK7/ref=dp_byline_cont_ebooks_2"><i class="fab fa-amazon fa-lg"></i></a>
    <a href="https://www.quora.com/profile/Jan-Christian-Bernabe"><i class="fab fa-quora fa-lg"></i></a>
    <a href="https://www.twitter.com/spramp"><i class="fab fa-twitter fa-lg"></i></a>
    <a href="https://www.github.com/spramp"><i class="fab fa-github fa-lg"></i></a>
    <a href="https://open.spotify.com/user/spramp"><i class="fab fa-spotify fa-lg"></i></a>
    </footer>
  </td>
</table>

</section>
