/* Other pages*/
	#other {
    @include vendor('flex-grow', '1');
		@include vendor('flex-shrink', '1');
		@include vendor('display', 'flex');
		@include vendor('align-items', 'center');
		@include vendor('justify-content', 'center');
		@include vendor('flex-direction', 'column');
		position: relative;
		max-width: 100%;
		z-index: 3;
    background-color: _palette(bg-alt);
    text-align: center;
  }

  alttext {
    letter-spacing: _font(letter-spacing);
    font-size: 2rem;
    opacity: 1;
    margin: 10rem;
    padding: 2rem;
    text-transform: uppercase;
  }
